* {
  margin: 0;
  padding: 0;
}

form {
  padding: 2rem;
  width: 50vw;
  display: grid;
  gap: 15px;
  background-color: rgb(247, 247, 247);
  border: 2px solid gray ;
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
}

.form {
  display: grid;
  gap: 5px;
}

input,
select,
button {
  padding: 5px;
  outline: none;
  border-radius: 5px;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

span {
  white-space: pre-line;
}