* {
  margin: 0;
  padding: 0;
}

form {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2rem;
  width: 50vw;
  display: grid;
  gap: 15px;
  background-color: rgb(247, 247, 247);
  border: 2px solid rgb(221, 221, 221) ;
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
}

.form {
  display: grid;
  gap: 5px;
}

input,
select,
button {
  padding: 5px;
  outline: none;
  border-radius: 5px;
  appearance: none;
  border: 2px solid rgb(221, 221, 221);
}

/* chained selector to avoid validation upon loading the page */
input.invalid:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

span {
  white-space: pre-line;
}

button:hover {
  border: 2px solid gray;
  background-color: rgb(194, 194, 194);
}